# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions and libraries
*.so
*.dll
*.lib
*.h

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

#vim
*.swp

#pycharm
.idea/

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Sphinx documentation
docs/_build/

events/
data/
trakSTAR_Installation_and_Operation_Guide_ RevD.pdf
*.cfg
